<div class="sidebar-module">
    <div class="btn-group btn-group-justified">
        <a href="{{ path('post_new') }}" class="btn btn-primary btn-lg">Dodaj nowy wpis</a>
    </div>
</div>
<div class="sidebar-module sidebar-module-inset">
    <h4>O autorze</h4>
    <p>Nullam sed ante et erat volutpat aliquam a sit amet enim. Nam cursus semper lorem id accumsan.
        Proin tincidunt lorem quis urna molestie, a tempor turpis hendrerit.
        Vestibulum felis nibh, finibus vitae ex commodo, tincidunt tincidunt mauris.
        Suspendisse et viverra ipsum, vel aliquet dui. Nunc maximus tincidunt dolor.
        Praesent tincidunt massa a ipsum laoreet interdum.
        Maecenas feugiat malesuada dolor, et consequat mauris mollis eu.
        Curabitur suscipit dolor a erat tincidunt, sed vehicula quam aliquam. </p>
</div>
<div class="sidebar-module">
    <h4>Zobacz także</h4>
    <ol class="list-unstyled">
        <li><a href="#">GitHub</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
    </ol>
</div>