{% extends '::layout_base.html.twig' %}

{% block content_row %}
<div class="row">
	{% block content_base %}
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blog-main content-content">
			{% block content_content %}{% endblock content_content %}
		</div>
	{% endblock content_base %}
</div>    
{% endblock content_row %}
