{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block head %}
    <head>
        <meta charset="{{ _charset }}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        {% block head_style %}
            <!-- Bootstrap core CSS -->
            <!-- Custom styles for this template -->
            {% stylesheets filter='cssrewrite'
            '@MopaBootstrapBundle/Resources/public/bootstrap/dist/css/bootstrap.css'
            '@MopaBootstrapBundle/Resources/public/bootstrap/dist/css/bootstrap-theme.css'
            'assets/css/main.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet"
                  media="screen" />
            {% endstylesheets %}
        {% endblock %}

        {% block head_script %}
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock head_script %}

        <title>{% block title %}Blog{% endblock title %}</title>
        {% block favicon %}<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />{% endblock %}
        {% block head_bottom %}
        {% endblock head_bottom %}
    </head>
{% endblock head %}

{% block navbar %}
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item active" href="{{ path('post_index') }}">Blog</a>
                <a class="blog-nav-item" href="#">Strona 2</a>
                <a class="blog-nav-item" href="#">Strona 3</a>
            </nav>
        </div>
    </div>
{% endblock navbar %}

{% block page_header %}
{% endblock page_header %}

{% block header %}
    <div class="blog-header">
        <h1 class="blog-title">Blog Symfony 3</h1>
        <p class="lead blog-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempor turpis ac risus aliquet luctus.
        </p>
    </div>
{% endblock header %}

{% block container %}
    {{ parent() }}

    {% block outside_footer %}
        <footer class="blog-footer">
            <p>Blog Symfony 3</p>
            <p>
                <a href="#">Powrót do góry</a>
            </p>
        </footer>
    {% endblock outside_footer %}
{% endblock container %}

{% block foot_script_assetic %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% javascripts
    'assets/js/jquery.min.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/dist/js/bootstrap.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block footer_tag_start %}
{% endblock footer_tag_start %}

{% block footer %}
{% endblock footer %}

{% block footer_tag_end %}
{% endblock footer_tag_end %}
