{% extends '::layout_base.html.twig' %}

{% block content_row %}
<div class="row">
	{% block content_base %}
		<div class="col-sm-8 blog-main content-content">
		{% block content_content %}{% endblock content_content %}
		</div>
	{% endblock content_base %}
	{% block sidebar_base %}
		<div class="col-sm-3 col-sm-offset-1 blog-sidebar content-sidebar">
			{% block content_sidebar %}
				{% include '::_sidebar.html.twig' %}
			{% endblock content_sidebar %}
		</div>
	{% endblock sidebar_base %}
</div>
{% endblock content_row %}
