<script src='{{ asset('assets/js/tinymce/tinymce.min.js') }}'></script>
<script>
    tinymce.init({
        selector: 'textarea#post_content',
        height: 500,
        language: 'pl',
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code'
        ],
        toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        content_css: '//www.tinymce.com/css/codepen.min.css'
    });
</script>