{% extends '::layout_one_col.html.twig' %}

{% block content_content %}

    <a href="{{ path('post_index') }}" class="btn btn-info btn-sm">Powrót do listy</a>

    {{ form_start(delete_form) }}
    <input type="submit" class="btn btn-danger btn-sm" value="Usuń">
    {{ form_end(delete_form) }}

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Zapisz" class="btn btn-info btn-sm pull-right" />
    {{ form_end(edit_form) }}
{% endblock %}

{% block foot_script %}
    {{ parent() }}

    {% include 'AppBundle:Post:_foot_script.html.twig' %}
{% endblock foot_script %}
