{% extends '::layout.html.twig' %}

{% block content_content %}

    {% for post in posts %}
        <div class="blog-post">
            <h2 class="blog-post-title">
                <a href="{{ path('post_show', { 'slug': post.slug }) }}">{{ post.title }}</a>
                <a href="{{ path('post_edit', { 'id': post.id }) }}" class="btn btn-info btn-sm">Edytuj</a>
            </h2>
            <p class="blog-post-meta">{% if post.creationDate %}{{ post.creationDate|date('Y-m-d H:i:s') }}{% endif %}</p>
            {{ post.lead }} <a href="{{ path('post_show', { 'slug': post.slug }) }}">Czytaj więcej &gt;&gt;</a>
        </div><!-- /.blog-post -->
    {% endfor %}
{% endblock content_content %}