{% extends '::layout_one_col.html.twig' %}

{% block content_content %}
    <a href="{{ path('post_index') }}" class="btn btn-primary btn-sm">Powrót do listy</a>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary btn-sm pull-right" value="Utwórz" />
    {{ form_end(form) }}
{% endblock %}

{% block foot_script %}
    {{ parent() }}

    {% include 'AppBundle:Post:_foot_script.html.twig' %}
{% endblock foot_script %}