{% extends '::layout.html.twig' %}

{% block content_content %}

    <a href="{{ path('post_index') }}" class="btn btn-info btn-sm">Powrót do listy</a>

    {{ form_start(delete_form) }}
    <input type="submit" class="btn btn-danger btn-sm" value="Usuń">
    {{ form_end(delete_form) }}

    <div class="blog-post">
        <h2 class="blog-post-title">
            <a href="{{ path('post_show', { 'slug': post.slug }) }}">{{ post.title }}</a>
            <a href="{{ path('post_edit', { 'id': post.id }) }}" class="btn btn-info btn-sm">Edytuj</a>
        </h2>
        <p class="blog-post-meta">{% if post.creationDate %}{{ post.creationDate|date('Y-m-d H:i:s') }}{% endif %}</p>
        {{ post.content | raw }}
    </div><!-- /.blog-post -->

    <h2 class="comments-title">Komentarze</h2>

    {{ form_start(comment_form) }}
        {{ form_widget(comment_form) }}
        <input type="submit" value="Dodaj komentarz" class="btn btn-info btn-sm pull-right" />
    {{ form_end(comment_form) }}

    <div style="clear: both;"></div>

    {% for comment in post.comments %}
        <div class="blog-comment">
            <h2 class="blog-comment-username">
                <p>{{ comment.username }}, {% if comment.creationDate %}{{ comment.creationDate|date('Y-m-d H:i:s') }}{% endif %}</p>
            </h2>
            <p>{{ comment.content }}</p>
        </div>
    {% endfor %}

{% endblock %}
